.spMain{
  margin-top: 50px;
}
.navbar-header>.btn{
  margin-top: 8px;
  margin-left: 5px;
}
.navbar-header>.btn>.glyphicon{
  margin-right: 2px;
}

.nav>.active>a {
  font-weight: 700;
  background-color: transparent;
  border-right: 2px solid #563d7c;
}